.app {
  background: #e3e2e8;
  width: 100%;
  height: 100%;
  display: inline-block;
}
.todo-list {
  background: #947b7b;
  border-radius: 4px;
  padding: 5px;
  max-width: 1000px;
  display: inline-block;
}

.todo {
  background: rgb(207, 196, 197);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 3px 10px;
  font-size: 20px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: inline-block;
}
.input{
  display: flex;
  size:landscape;
  flex: auto;
  width: 392px;
  display: inline-block;
}
.infor{
  size:portrait;
  flex: auto;
  width: 200px;
  height: 100px;
  display: inline-block;
  background: rgb(168, 146, 148);
  text-align: center;
}
.exit{
  top: 0;
  right: 0;
  display: flex;
}

